.testimonal
{
    background-image: url('./../RideON/assets/Home/img-1.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.quote
{
    color: #cb4452 !important;
    font-size: 3rem !important;
}